{#
/**
 * @file account.html.twig
 * Default theme implementation to present Account data.
 *
 * This template is used when viewing Account pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_account()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('account') }}>
    {% if title %}
      <h4>{{- title -}}</h4>
    {% endif %}
    {% if links %}
      <div style="text-align: right;">
      {% for link in links %}
        <div class="button">{{- link -}}</div>
      {% endfor %}
      </div>
    {% endif %}
  {% if table %}
      {{- table -}}
  {% endif %}
</div>
